# =========================
# Java / Maven
# =========================
target/
*.class
*.log

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml
*.ipr
*.iws

# =========================
# Eclipse / STS
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db